/node_modules
/public/hot
/public/storage
/public/vendor/livewire
/public/build/*
/public/lp-build/*
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/bootstrap/ssr
auto-imports.d.ts
components.d.ts
lang/php_*.json
.env.dusk.local
